/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/*   Imported Fonts   */

@font-face {
    font-family: 'ultra';
    src: url('../fonts/serif/ultra-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rozhaone';
    src: url('../fonts/serif/rozhaone-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoslab';
    src: url('../fonts/serif/robotoslab-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefinslab';
    src: url('../fonts/serif/josefinslab-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'roboto';
    src: url('../fonts/sans-serif/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'opensans';
    src: url('../fonts/sans-serif/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'montserrat';
    src: url('../fonts/sans-serif/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'lato';
    src: url('../fonts/sans-serif/lato-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*    Typography   */

p {
    font-family: montserrat, Arial, sans-serif;
    font-size: 1.2rem;
    color: #2a224b;
}

h1, h2, h3, h4 {
    font-family: lato, Helvetica, sans-serif;
    letter-spacing: 0.0325;
    color: #112639;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    transform: rotate(-4deg);
    text-align: center;
}

.highlight {
    display: inline-block;
    font-family: rozhaone, Georgia, serif;
    border: 1px solid black;
    border-width: 0.3rem;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 3rem;
    color: #fff7ef;
     background-color: #2a224b;
     box-shadow: 5px 6px 5px -1px #888;
}

/*   Gen Setup and Defaults   */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/*   Layout   */

header {
    padding: 0.5rem 0rem 1rem 0rem;
}

nav {
    margin-top: 3rem;
}

.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;
}

.main-section img {
    border-radius: 50%;
    object-fit: contain;
    float: left;
    margin: 1rem 1rem 1rem 1rem;
}

article {
    grid-column: 1 / 2;
    grid-row: 1;
}

aside {
    grid-column: 2 /3;
    grid-row: 1;
    border-left: 1px solid #192d46;
    padding-left: 0.7rem;
}

@media (max-width:500px) {
    aside {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }

    @media (max-width:500px) {
        aside img {
          display: flex;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        }

aside p {
    border-bottom: 1px solid #192d46;
    font-size: 1.1rem;
    padding-bottom: 1.5rem; 
}

aside a {
    font-size: 0.23rem;
    padding-left: 0.25rem;
    letter-spacing: 0.03rem;
}

.subsection {
    display: flex;
}

/*   Images and Figures   */

img {
    width: 100%;
}

figure {
    margin: 0px;
}

.article-image {
    width: 33%;
    float: left;
    margin-right: 0.75rem;
}

.subsection {
    margin: 1rem 0rem;
}

.subsection figure {
    margin: 0rem 0.25rem;
    background-color: #F2E3D5;
}

.subsection figure figcaption {
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 1.1rem;
}

@media (max-width:500px) {
    .subsection {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }

    @media (max-width:500px) {
        .subsection figure {
          display: flex;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        }

/*   Links and Nav   */

a {
    text-decoration: none;
}

nav a:link, 
a:visited {
    color: #55166d;
}

a:focus,
a:hover {
    text-decoration: none;
}

nav a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: lato, Arial, sans-serif;
    color: #e00b0b;
}

nav a:focus,
nav a:hover {
    color: #fff;
    background-color: #2a224b;
    text-decoration: underline;
}

nav {
    border-top: 1px solid #2a224b;
    border-bottom: 1px solid #2a224b;
}

button {
    display: inline-block;
    font-family: josefinslab, Georgia, serif;
    border: 1px solid black;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    color: #fff7ef;
     background-color: #2a224b;
     box-shadow: 5px 4px 4px -1px #888;
}

footer a:link,
   a:visited {
    color: #e00b0b;
}

/* Footer Styles */

footer a {
    text-align: left;
    font-size: 1.25rem;
    padding-top: .2rem;   
    font-family: montserrat, Arial, sans-serif;
}

.line {
    border-bottom: 1px solid #192d46;
    padding-bottom: .25rem;
}

.attribution {
    text-align: right;
    font-size: 1rem;
    font-family: opensans, Arial, sans-serif;
    
}

.return {
    font-size: 0.5rem;
    padding-top: 0rem;
    font-family: roboto, Arial, sans-serif;
}